[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/glew"]
	path = libs/glew
	url = https://github.com/nigels-com/glew.git
[submodule "libs/eigen"]
	path = libs/eigen
	url = https://github.com/RLovelett/eigen.git
[submodule "libs/FreeGLUT"]
	path = libs/FreeGLUT
	url = https://github.com/dcnieho/FreeGLUT.git
